/* Config Sample
 *
 * For more information on how you can configure this file
 * see https://docs.magicmirror.builders/configuration/introduction.html
 * and https://docs.magicmirror.builders/modules/configuration.html
 *
 * You can use environment variables using a `config.js.template` file instead of `config.js`
 * which will be converted to `config.js` while starting. For more information
 * see https://docs.magicmirror.builders/configuration/introduction.html#enviromnent-variables
 */
let config = {
	address: "localhost",	// Address to listen on, can be:
							// - "localhost", "127.0.0.1", "::1" to listen on loopback interface
							// - another specific IPv4/6 to listen on a specific interface
							// - "0.0.0.0", "::" to listen on any interface
							// Default, when address config is left out or empty, is "localhost"
	port: 8080,
	basePath: "/",	// The URL path where MagicMirror² is hosted. If you are using a Reverse proxy
									// you must set the sub path here. basePath must end with a /
	ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"],	// Set [] to allow all IP addresses
									// or add a specific IPv4 of 192.168.1.5 :
									// ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.1.5"],
									// or IPv4 range of 192.168.3.0 --> 192.168.3.15 use CIDR format :
									// ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.3.0/28"],

	useHttps: false,			// Support HTTPS or not, default "false" will use HTTP
	httpsPrivateKey: "",	// HTTPS private key path, only require when useHttps is true
	httpsCertificate: "",	// HTTPS Certificate path, only require when useHttps is true

	language: "en",
	locale: "en-US",   // this variable is provided as a consistent location
			   // it is currently only used by 3rd party modules. no MagicMirror code uses this value
			   // as we have no usage, we  have no constraints on what this field holds
			   // see https://en.wikipedia.org/wiki/Locale_(computer_software) for the possibilities

	logLevel: ["INFO", "LOG", "WARN", "ERROR"], // Add "DEBUG" for even more logging
	timeFormat: 24,
	units: "metric",

	modules: [
		{
			module: "alert",
		},
		{
			module: "updatenotification",
			position: "top_bar"
		},
		{
			module: "clock",
			position: "top_left"
		},
		{
			module: "calendar",
			header: "Holidays",
			position: "top_left",
			config: {
				calendars: [
					{
						fetchInterval: 7 * 24 * 60 * 60 * 1000,
						symbol: "calendar-check",
						url: "https://ics.calendarlabs.com/76/mm3137/US_Holidays.ics"
					}
				]
			}
		},
		{
			module: "compliments",
			position: "lower_third",
			config: {
				compliments: {
					anytime: [
						"Hey there sexy!",
						"You look amazing!",
						"Have a wonderful day!",
						"You're doing great!",
						"Stay positive!",
						"Keep smiling!",
						"You're awesome!",
						"Life is beautiful!",
						"Everything will be fine!",
						"You're amazing!"
					],
					morning: [
						"Good morning, handsome!", 
						"Enjoy your day!", 
						"How was your sleep?",
						"Have a great morning!",
						"Start your day with a smile!",
						"Good morning, beautiful!",
						"May your day be successful!",
						"Morning energy to you!"
					],
					afternoon: [
						"Hello, beauty!", 
						"You look sexy!", 
						"Looking good today!",
						"Hope your day is going well!",
						"You're doing great!",
						"Keep up the good work!",
						"Stay energetic!",
						"Afternoon greetings!"
					],
					evening: [
						"Wow, you look hot!", 
						"You look nice!", 
						"Hi, sexy!",
						"Have a good evening!",
						"Time to relax!",
						"Evening greetings!",
						"Hope you had a great day!",
						"Rest well tonight!"
					],
					"....-01-01": ["Happy new year!"]
				},
				updateInterval: 30000,
				random: true
			}
		},
		{
			module: "weather",
			position: "top_right",
			config: {
				weatherProvider: "openmeteo",
				type: "current",
				lat: 40.776676,
				lon: -73.971321
			}
		},
		{
			module: "weather",
			position: "top_right",
			header: "Weather Forecast",
			config: {
				weatherProvider: "openmeteo",
				type: "forecast",
				lat: 40.776676,
				lon: -73.971321
			}
		},
		{
			module: "newsfeed",
			position: "bottom_bar",
			config: {
				feeds: [
					{
						title: "New York Times",
						url: "https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml",
						encoding: "UTF-8",
						useCorsProxy: true
					},
					{
						title: "BBC News",
						url: "http://feeds.bbci.co.uk/news/rss.xml",
						encoding: "UTF-8",
						useCorsProxy: true
					}
				],
				showSourceTitle: true,
				showPublishDate: true,
				showDescription: true,
				wrapTitle: true,
				wrapDescription: true,
				truncDescription: true,
				lengthDescription: 200,
				updateInterval: 10 * 60 * 1000, // 10 minutes
				reloadInterval: 15 * 60 * 1000, // 15 minutes
				maxNewsItems: 8,
				animationSpeed: 3000,
				ignoreOldItems: true,
				ignoreOlderThan: 24 * 60 * 60 * 1000, // 24 hours
				logFeedWarnings: true,
				broadcastNewsFeeds: true,
				broadcastNewsUpdates: true
			}
		},
	]
};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") { module.exports = config; }
